In [1]:
import sqlite3 #importing sqlite3

connection = sqlite3.connect('Netflix.db') #connecting sqlite3 to database
cursor = connection.cursor() # creating cursor (cursor uses to execute queries)

In [2]:
cursor.execute("create table if not exists TVSHOWS(id INTEGER PRIMARY KEY AUTOINCREMENT,name text,language text,Ratings INTEGER,ReleasingDate TIMESTAMP,Subtitles text)")

In [3]:
name = input("Enter Tvshow name: ") # not defining datatype string because it is string as default 
language =(input("Enter language: ")) 
Ratings = float(input("Enter Ratings: "))
ReleasingDate = (input("Enter ReleasingDate: "))
Subtitles = (input("Enter Subtitles: "))
cursor.execute("insert into TVSHOWS(name,language,Ratings,ReleasingDate,Subtitles) values(?,?,?,?,?)",(name,language,Ratings,ReleasingDate,Subtitles))


connection.commit()

Enter Tvshow name: yyy
Enter language: english
Enter Ratings: 5
Enter ReleasingDate: 4-8-00
Enter Subtitles: true

In [4]:
a = cursor.execute("select * from TVSHOWS")
a.fetchall()

[(1, 'strangerthings', 'eng', 5, '4-8-90', 'true'),
 (2, 'moneyheist', 'eng', 5, '2-jan-20', 'true'),
 (3, 'sabrina', 'english', 5, '2-8-20', 'true'),
 (4, 'xx', 'eng', 5, '6-8-00', 'true'),
 (5, 'yyy', 'english', 5, '4-8-00', 'true')]

In [8]:
name = input("Enter name: ")
id = int(input("Enter id: "))


cursor.execute("update TVSHOWS set name = ?  where id = ?  ",(name,id))
connection.commit()

Enter name: Friends
Enter id: 4

In [9]:
cursor.execute("delete from TVSHOWS where id =4")
connection.commit()

In [10]:
a = cursor.execute("select * from TVSHOWS")
a.fetchall()

[(1, 'strangerthings', 'eng', 5, '4-8-90', 'true'),
 (2, 'moneyheist', 'eng', 5, '2-jan-20', 'true'),
 (3, 'sabrina', 'english', 5, '2-8-20', 'true'),
 (5, 'yyy', 'english', 5, '4-8-00', 'true')]

In [11]:
cursor.execute('update TVSHOWS set name = "vampire diaries" where id = 5')
cursor.execute('update TVSHOWS set ReleasingDate = "10-mar-2017" where id = 5')
connection.commit()

In [12]:
a = cursor.execute("select * from TVSHOWS")
a.fetchall()

[(1, 'strangerthings', 'eng', 5, '4-8-90', 'true'),
 (2, 'moneyheist', 'eng', 5, '2-jan-20', 'true'),
 (3, 'sabrina', 'english', 5, '2-8-20', 'true'),
 (5, 'vampire diaries', 'english', 5, '10-mar-2017', 'true')]

In [13]:
cursor.execute("create table if not exists MOVIES(id INTEGER PRIMARY KEY AUTOINCREMENT,name text,language text,Ratings INTEGER,ReleasingDate TIMESTAMP,Subtitles text)")

In [14]:
name = input("Enter Movie name: ") # not defining datatype string because it is string as default 
language =(input("Enter language: ")) 
Ratings = float(input("Enter Ratings: "))
ReleasingDate = (input("Enter ReleasingDate: "))
Subtitles = (input("Enter Subtitles: "))
cursor.execute("insert into MOVIES(name,language,Ratings,ReleasingDate,Subtitles) values(?,?,?,?,?)",(name,language,Ratings,ReleasingDate,Subtitles))


connection.commit()

Enter Movie name: tt
Enter language: eng
Enter Ratings: 5
Enter ReleasingDate: 6-8-9
Enter Subtitles: true

In [15]:
a = cursor.execute("select * from MOVIES")
a.fetchall()

[(1, 'Harry potter', 'English', 5, '4-Nov-2001', 'English'),
 (2, 'Iron Man', 'English', 5, '2-may-2008', 'English,french'),
 (3, 'Dolittle', 'English', 5, ' 17-January-2020', 'English,french'),
 (4, 'A Quiet Place Part II ', 'English', 5, ' 20-March-2020', 'English'),
 (5, 'Fast & Furious 9', 'English', 5, '22-May-2020', 'English,french'),
 (6,
  'The Conjuring: The Devil Made Me Do It',
  'English',
  5,
  '11-September-2020',
  'English'),
 (7, 'abc', 'eng', 4, '20-10-20', 'true'),
 (8, 'tt', 'eng', 5, '6-8-9', 'true')]

In [16]:
name = input("Enter name: ")
id = int(input("Enter id: "))

cursor.execute("update MOVIES set name = ? where id = ?",(name,id))
connection.commit()

Enter name: the hunt
Enter id: 8

In [17]:
cursor.execute("delete from MOVIES where id =8")
connection.commit()

In [18]:
a = cursor.execute("select * from MOVIES")
a.fetchall()

[(1, 'Harry potter', 'English', 5, '4-Nov-2001', 'English'),
 (2, 'Iron Man', 'English', 5, '2-may-2008', 'English,french'),
 (3, 'Dolittle', 'English', 5, ' 17-January-2020', 'English,french'),
 (4, 'A Quiet Place Part II ', 'English', 5, ' 20-March-2020', 'English'),
 (5, 'Fast & Furious 9', 'English', 5, '22-May-2020', 'English,french'),
 (6,
  'The Conjuring: The Devil Made Me Do It',
  'English',
  5,
  '11-September-2020',
  'English'),
 (7, 'abc', 'eng', 4, '20-10-20', 'true')]

In [19]:
cursor.execute("create table if not exists DOCUMENTRY(id INTEGER PRIMARY KEY AUTOINCREMENT,name text,language text,Ratings INTEGER,Subtitles text)")

In [20]:
name = input("Enter DOCUMENTRY name: ") # not defining datatype string because it is string as default 
language =(input("Enter language: ")) 
Ratings = float(input("Enter Ratings: "))
Subtitles = (input("Enter Subtitles: "))
cursor.execute("insert into DOCUMENTRY(name,language,Ratings,Subtitles) values(?,?,?,?)",(name,language,Ratings,Subtitles))


connection.commit()

Enter DOCUMENTRY name: tttt
Enter language: english
Enter Ratings: 5
Enter Subtitles: true

In [21]:
a = cursor.execute("select * from DOCUMENTRY")
a.fetchall()

[(1, 'ebola', 'English', 5, 'English'),
 (2, 'Paris Is Burning', 'English', 5, 'English'),
 (3, 'Paris Is Burning', 'English', 5, 'English'),
 (4, 'Feet from Stardom', 'English', 4, 'English+Spanish'),
 (5, 'Rush: Beyond the Lighted Stage ', 'English', 3, 'English'),
 (6, 'Tony Robbins: I Am Not Your Guru', 'English', 4, 'English+french'),
 (7, 'rud', 'English', 5, 'English'),
 (9, 'Bill Nye: Science Guy', 'english', 5, 'true'),
 (10, 'Jeffrey Epstein: Filthy Rich', 'english', 4.5, 'true'),
 (11, 'American Factory', 'English+french', 4.6, 'true'),
 (12, 'Murder to Mercy: The Cyntoia Brown Story', 'English', 5, 'false'),
 (13, 'tttt', 'english', 5, 'true')]

In [22]:
cursor.execute("create table if not exists ADMIN_LOGIN(Password text)")

In [23]:
cursor.execute("insert into ADMIN_LOGIN(Password) values(12345)")
connection.commit()

In [24]:
cursor.execute("delete from DOCUMENTRY where id =13")
connection.commit()

In [25]:
id = int(input("Enter id: "))
name = input("Enter name: ")

cursor.execute('update DOCUMENTRY set name = ? where id = ?',(name,id))
connection.commit()

Enter id: 12
Enter name: Murder to Mercy

In [26]:
a = cursor.execute("select * from DOCUMENTRY")
a.fetchall()

[(1, 'ebola', 'English', 5, 'English'),
 (2, 'Paris Is Burning', 'English', 5, 'English'),
 (3, 'Paris Is Burning', 'English', 5, 'English'),
 (4, 'Feet from Stardom', 'English', 4, 'English+Spanish'),
 (5, 'Rush: Beyond the Lighted Stage ', 'English', 3, 'English'),
 (6, 'Tony Robbins: I Am Not Your Guru', 'English', 4, 'English+french'),
 (7, 'rud', 'English', 5, 'English'),
 (9, 'Bill Nye: Science Guy', 'english', 5, 'true'),
 (10, 'Jeffrey Epstein: Filthy Rich', 'english', 4.5, 'true'),
 (11, 'American Factory', 'English+french', 4.6, 'true'),
 (12, 'Murder to Mercy', 'English', 5, 'false')]